{% extends 'base.html.twig' %}

{% block title %}LocaJeu - {{ jeu.nom }}
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Le jeu : {{ jeu.nom }}</h1>
		<p><small>Genre : {{ jeu.genre.nom | lower  }} - popularité : {{ jeu.genre.popularite }}</small></p>
		<p>{{ jeu.description }}</p>
	</div>
{% endblock %}
